<p> Super Rentals Representatives are here to help!</p>

<p>Contact us today:</p>

<p>
  Super Rentals HQ
  <address>
    123 Fake Street, <br>
    FakeTown, 123-ABC <br>
    Ontario, Canada
  </address>
</p>

<p><a href="tel:503.555.1212"> (503)555-1212</a></p>

<p><a href="mailto:superrentalsrep@superrentals.com">superrentalsrep@superrentals.com</a></p>

{{#link-to "about"}}About{{/link-to}}
{{outlet}}
